{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
  <h3>{{ template_data.profile_user.get_full_name|default:template_data.profile_user.username }}</h3>
  <p class="text-muted">@{{ template_data.profile_user.username }}</p>
  <hr />

  <h5>Headline</h5>
  <p>{{ template_data.profile.headline|default:"" }}</p>

  <h5>Skills</h5>
  <pre class="bg-light p-3 rounded">{{ template_data.profile.skills|default:"" }}</pre>

  <h5>Education</h5>
  <pre class="bg-light p-3 rounded">{{ template_data.profile.education|default:"" }}</pre>

  <h5>Work Experience</h5>
  <pre class="bg-light p-3 rounded">{{ template_data.profile.work_experience|default:"" }}</pre>

  <h5>Links</h5>
  <div class="bg-light p-3 rounded">
    {% for line in template_data.profile.links.splitlines %}
      {% if line %}
        <div><a href="{{ line }}" target="_blank">{{ line }}</a></div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock content %}
